<!DOCTYPE html>

<h1>Books list</h1> {%comment%} HTML tag for heading {%endcomment%}

<br>
{% comment %} the {% url %} tag tells Django to load the URL with the
name "logout" when the user clicks on the text: "Logout" {% endcomment %}
<a href="{% url 'logout' %}">Logout</a>
<br>

<table border="1" cellpadding="5" cellspacing="5"> {%comment%} start of table {%endcomment%}
  <tr> {%comment%} the tr tag adds a new row {%endcomment%}
    <td>Book Titles</td> {%comment%} the td tag adds a column {%endcomment%}
    <td>Book Images</td>
  </tr>
  {% for object in object_list %} {%comment%} go through each element of books list {%endcomment%}
  <tr>
    <td><a href="{{object.get_absolute_url}}"> {%comment%} add links to book names {%endcomment%}
        {{object.name}} {%comment%} print the name of book {%endcomment%}
      </a></td>
    <td><img src="{{object.pic.url}}" width="150" height="200" /></td> {%comment%} display the picture of book
    {%endcomment%}
  </tr>
  {% endfor %}
</table>